.hotels {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgba(139, 145, 139, 0.322);
}

.hotels > header > nav > ul > li > a {
  color: black;
}

.hotelSection {
  position: absolute;
  top: 100px;
  width: 70%;
  left: 40px;
}

.hotelCard {
  display: flex;
  height: 250px;
  border-bottom: 1px solid black;
  justify-content: space-between;
  margin-top: 20px;
}

.hotelImage > img {
  width: 290px;
  height: 230px;
}

.hotelDesc {
  max-width: 550px;
  padding: 10px 10px 0 10px;
}

.hotelDesc > p {
  margin-top: 20px;
}

.priceStarrating {
  padding: 10px 10px 0 10px;
}

.priceStarrating > p:first-child {
  font-size: 29px;
  color: gold;
}

.priceStarrating > p:nth-child(2) {
  font-size: 20px;
  margin-top: 10px;
  color: green;
}
.priceStarrating > p:nth-child(3) {
  font-size: 10px;
}

.priceStarrating > p > span {
  font-size: 12px;
}

.priceStarrating > p:nth-child(4) {
  margin-top: 30px;
}
